/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body 
------------------------------------- */
body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
}


/* Typography
------------------------------------- */

h1,
h2,
h3,
h4 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h1 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    color: #ffffff;
    font-size: 1rem;
}

h3 {
    color: #444;
    font-size: 14px;
    letter-spacing: 4px;
}

h5 {
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

a {
    outline: none;
    text-decoration: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

img {
    width: 100%;
    max-width: 100%;
}


/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
    width: 60px;
    height: 60px;
    background-color: #111112;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}



/* navigation styles
/* ========================================== */
.nav-container,
nav {
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav a {
    color: #333333;
}

.navbar {
    background: transparent;
    height: 94px;
    max-height: 94px;
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.brand {
    float: left;
    padding: 20px 0 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.brand img{
    height: 48px;
    width: 192px;
}

.brand a {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
}

.navicon {
    position: relative;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px 0 0;
}

nav ul {
    display: inline-block;
}
nav ul.right {
    float: right;
    right: 0
}

#nav-menu {
    padding:0;
}

#nav-menu a {
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#nav-menu li {
    list-style: none;
    padding: 6px;
}

.nav-text-light a {
    color: #ffffff;
}

.sticky .nav-text-light a {
    color: #555555;
}

.sticky nav.nav-inner .navbar {
    height: 70px;
    max-height: 70px;
    margin: 0;
    background: #ffffff;
}

.sticky nav.transparent .navbar {
    background: transparent;
}

@media all and (max-width: 990px) {
    .nav-text-light a {
        color: #555555;
    }

    .nav-inner {
        background: #ffffff;
    }

    .transparent {
        background: transparent;
    }

    .navicon {
        padding-right: 0px;
    }

    nav ul.right {
        float: left;
    }
}

a.icon {
    font-size: 32px;
    padding-right: 20px;
}

.intro-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.close {
    font-family: inherit;
    font-size: 32px;
    font-weight: 300;
    text-shadow: none;
}

.close:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.circle {
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
    z-index: 99;
    padding: 4px 0 0;
}

.circle i {
    font-size: 36px;
    color: #111112;
}

.circle.dark {
    border-color: #292929;
}

.circle.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.circle.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.inline {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    z-index: 0;
}

@media all and (max-width: 767px) {
    .circle.large {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }

    .circle.large:before {
        margin-top: -14px;
        margin-left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25.0px;
        border-color: transparent transparent transparent #fff;
    }
}

.list-menu {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    opacity: 0;
    z-index: -1;
}

.list-menu.reveal-modal {
    opacity: 1;
    z-index: 999999;
    visibility: visible;
}

.list-menu .ion-close-round {
    font-size: 31px;
    position: absolute;
    top: 32px;
    right: 32px;
    color: #fff;
    cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
    /* -webkit-background-size: cover; */
    background-size: cover;
    /* background-position: center center; */    
    min-height: 650px;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: 130px;
    padding-bottom: 100px; */
}

#header .header-thumb {
    /* padding: 62px 20px 62px 20px; */
}

.header-one .header-thumb{
    transform: translateY(-170px)
}

.header-four .header-thumb {
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5em 0
}

#header h1{
    font-size: 48px;
    font-weight: bold;
    margin:0 0 0.25em 0;
}


.header-one,
.header-two,
.header-three,
.header-four,
.header-five {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.header-one {
    background: url('../images/header-bg.jpg') no-repeat;
    background-position: bottom center;
}
@media (max-width:576px) {
    #header {
        min-height: 450px;
        background-size: auto 450px;
    }
    #header h1{
        font-size: 36px;
    }
    .header-one .header-thumb{
        transform: translateY(-135px)
    }
    
}

.header-two {
    background: url('../images/header-bg.jpg') no-repeat;
}

.header-three {
    background: url('../images/header-three-bg.jpg') no-repeat;
}

.header-four {
    background: url('../images/header-four-bg.jpg') no-repeat;
   
}

.header-five {
    background: url('../images/header-five-bg.jpg') no-repeat;
}

/* Recent works section styles
/* ========================================== */
.title{
    margin: 2em 0;
  }
  
  
  .label-container{
    display: flex;
    flex-wrap:wrap;
  }
  
  .label{
    background-color: #FCF7F0;
    color: #9C8A6F;
    margin: 0em 0.5em 1em 0em;
    padding:0.5em 1em 0.5em 1em ;
    border-radius: 50px;
  }
  
  .recent-works-h2{
      color:black;
    display: block;
    font-size: 1.5em;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
  }

  .recent-works {
    width: 100%;
    font-size: 1rem;
    padding: 3em 0;
  /*   background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .recent-works-container {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    font-size: 1em;
    border: 1px #EB9E7D solid;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  
  .recent-works-container:hover{
    box-shadow:0px 0px 10px #ffc997;
  }
  
  
  
  .image__container{
    width: 48%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  .recent-works-img {
    width: 100%;
  /*   min-width:600px */
  }
  .recent-works-intro {
    width: 48%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .recent-works-intro {
    margin-top: 0;
  }
  
  .recent-works-intro-txt {
    font-size: 1rem;
    padding-right: 40px;
  }

.btn-container{
    display:flex;
    margin-right: 1em;
}

  
  .solid-btn {
    margin: 1em 1em 1em 0em;
    border: 2px solid #EB9E7D;
    background-color: #EB9E7D;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1em;
    transition: 0.3s;
  }

  .outline-btn{
    margin: 1em 1em 1em 0em;
    border: 2px solid #EB9E7D;
    color: #EB9E7D;
    display: inline-block;
    padding: 0.5em 1em;
    transition: 0.3s;  
  }

  .btn-h2{
      margin: 0.2em;
      color: unset;
  }

  
  .solid-btn:hover{
    background-color: #ffc997;
    border: 2px solid #ffc997;
    color: #ffffff;
  }
  .outline-btn:hover{
    background-color: #ffc997;
    border: 2px solid #ffc997;
    color: #ffffff;
  }

  


  @media (max-width: 900px) {
    .recent-works-container {
      flex-direction: column;
      max-width:600px
    }
    .recent-works-intro{
         width: 100%;
    }
    .recent-works-intro-txt {
      text-align: center;
      padding:0 25px;
    }
    .solid-btn {
      align-self: center;
    }
    .image__container{
      width: 100%;
    }
    .label-container{
      justify-content: center;
    }
  }
  




/* Portfolio section styles
/* ========================================== */

#portfolio {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

#portfolio img {
    width: 100%;
}

#portfolio .portfolio-thumb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #726550;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.8;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 0 20px 0 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #ffffff;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
    padding: 0;
    margin-left: 0px;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.filter-wrapper li a:active {
    background: #EB9E7D !important;
}

.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
    background: #EB9E7D;
    color: #ffffff;
    
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    aspect-ratio: 1.33;
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box>a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#single-project .project-info {
    padding-bottom: 10px;
}

#single-project img {
    padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#about .col-md-4 {
    padding-top: 16px;
    padding-bottom: 32px;
}

#about blockquote {
    letter-spacing: 2px;
    margin-top: 20px;
}

.about__container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.about__intro{
    width: 95%;
    max-width: 1395px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:72px;
}

.about__intro__img{
    width: 19%;
    margin-bottom:2em;
    padding-right: 1em;
}

.about__intro__content{
    width: 69%;
    padding:0 1em;
}
.about__intro p{
    color:#000;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.url-link {
    color:#EB9E7D;
}
.url-link:hover{
    color:#ffc997;
}


@media (max-width:992px) {
    .about__intro {
        flex-direction: column;
        align-items: center; 
   }
   .about__intro__img{
        width: 80%;
    }
   .about__intro__content{
        width: 80%;
        padding:1rem;
   }

}
@media (max-width:576px) {
   .about__intro__img,
   .about__intro__content{
        width: 90%;
    }
   .about__intro__content p{
        font-size: 16px;
        line-height: 20px;
   }

}

.about__skills{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-bottom: 72px;
}


.skill-cards{
    width: 24%;
    border-radius:20px;
    background-color: #FFF8EE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:2em 0 ;
    margin-bottom: 20px;
}

.card-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:38px;
}

.card-icon img{
    width: 88px;
    height: 88px;
    margin-bottom: 10px;
}

.card-icon h2{
    margin:0;
    color:#000;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase
}

.skill-cards p{
    color:#000;
    font-size: 16px;
    line-height: 20px;    
    font-weight: 500;
    width: 90%;
}
.skill-cards:nth-child(even){
    background-color: #FFF3F3;
}

@media (max-width:992px) {
    .about__skills{
        width: 90%;
    }
    .skill-cards{
        width: 48%;
    }
}
@media (max-width:576px) {
    .skill-cards{
        width: 98%;
    }
}

.about__CV {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.cv-cards {
    max-width: 500px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .CV-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .CV-overlay:hover {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  
  .CV-overlay:hover CV-link {
    opacity: 0;
  }
  
  .CV-link {
    position: absolute;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #eb9e7d;
  }
  
  .border {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 4px solid;
  }
  
  .full-1 {
    border-image: linear-gradient(45deg, #ff9e9e, #ffd194) 1;
  }
  
  .full-2 {
    border-image: linear-gradient(45deg, #ffd194, #ff9e9e) 1;
  }

  @media (max-width:992px) {
    .about__CV{
        width: 90%;
    }
}


/* blog & single post section styles
/* ========================================== */
#blog,
#single-post {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#blog .blog-thumb {
    padding-top: 60px;
    padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
    padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
    color: #888;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 10px;
}

#blog .blog-thumb .btn {
    border-radius: 0px;
    padding: 10px 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 22px;
    transition: all 0.4s ease-in-out;
}

#blog .blog-thumb .btn:hover {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
}

#single-post blockquote {
    margin-top: 32px;
    letter-spacing: 2px;
}

.post-image {
    margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
    margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
    padding-bottom: 20px;
}

#single-post .blog-comment .media {
    padding-bottom: 22px;
}

#single-post .blog-comment .media img {
    padding-right: 14px;
}

#single-post .blog-comment h4 {
    font-weight: 700;
}

#single-post .blog-comment-form .form-control {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
}


/* contact section styles
/* ========================================== */
#contact {
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-row {
    width: 90%;
    max-width: 1000px;
}

.contact-btn {
    font-size: 2rem;
    padding-right: 1em;
    font-weight: bold;
    text-decoration: underline;
    color: #EB9E7D;
}

.contact-btn:hover {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 0.5em;
    text-decoration: underline;
    color: #ffc997;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#contact .fa {
    font-size: 32px;
    /* padding-right: 10px; */
}

#contact #map-canvas {
    border: none;
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

#contact .contact-form {
    padding-top: 14px;
}

#contact .form-control {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
    border-color: #f0f0f0;
}

#contact textarea {
    min-height: 100px;
}

#contact input {
    height: 50px;
}

#contact input[type='submit'] {
    background: #111112;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
}

#contact input[type='submit']:hover {
    background: #444;
}

.contact-submit {
    width: 50%;
}

#contact .col-md-4 {
    background: transparent;
    padding: 62px 0px 32px 42px;
    position: relative;
    bottom: 0px;
}



/* footer section styles
/* ========================================== */
footer {
    background: #ffffff;
    background: url('../images/footer-bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}


/* social icon */
.social-icon {
    padding: 0;
    margin: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}

.social-icon li a {
    border-radius: 100px;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    padding: 0px;
    margin-top: 14px;
    /* margin-right: 4px;
    margin-left: 4px; */
    position: relative;
    top: 0px;
}

.social-icon li a:hover {
    color: #000;
    background: #ffffff;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

    .intro-inner {
        top: 30%;
    }

    #contact .col-md-4 {
        padding: 62px 20px 42px 32px;
    }

    #contact .col-md-4 p {
        font-size: 12px;
    }

    #contact #map-canvas {
        margin-bottom: 60px;
    }
}



@media (max-width: 768px) {

    .brand {
        padding-left: 0px;
    }

    .header-one,
    .header-two,
    .header-three,
    .header-four,
    .header-five {
        min-height: 380px;
        padding-top: 10px !important;
    }

    #about .col-md-4,
    #single-project .col-md-3 {
        padding-bottom: 32px;
    }

}


@media (max-width: 700px) {

    h1 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 13px;
        letter-spacing: 3px;
    }

    .filter-wrapper {
        padding: 0px;
    }

    #contact {
        padding-bottom: 4rem;
    }

    #contact .col-md-4 {
        padding: 32px 20px 22px 62px;
    }

    .contact-submit {
        width: 70%;
    }
    
}

@media (max-width: 450px) {
    .intro-inner {
        top: 50%;
    }
}